{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR Management System</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://ai-public.creatie.ai/gen_page/tailwind-custom.css" rel="stylesheet" />
    <script
        src="https://cdn.tailwindcss.com/3.4.5?plugins=forms@0.5.7,typography@0.5.13,aspect-ratio@0.4.2,container-queries@0.1.1">
        </script>
    <script src="https://ai-public.creatie.ai/gen_page/tailwind-config.min.js" data-color="#1B9AF5"
        data-border-radius="medium">
        </script>
</head>

<body class="bg-white text-gray-900 font-[&#39;Inter&#39;]">
    <div class="min-h-screen flex">
        <aside class="w-64 bg-gray-100 border-r border-gray-300">
            <div class="p-6">
                <img src="{% static 'images/aureus.png' %}" alt="Company Logo" class="h-10 w-auto" />
            </div>
            <a href="{% url 'hybrid_office_admin_dashboard' %}">
                <div class="px-4 py-6 border-b border-gray-300 hover:bg-gray-200">
                    <div class="flex items-center">
                        <img src="/media/{{ profile_image }}" alt="Admin" class="w-12 h-12 rounded-full" />
                        <div class="ml-3">
                            <h3 class="font-medium text-gray-600">{{ user_name }}</h3>
                             <p class="text-sm text-gray-600">Office Admin</p>
                        </div>
                    </div>
                </div>
            </a>
            <nav class="mt-6">
                <a href="{% url 'hybrid_office_admin_profile' %}"
                    class="flex items-center px-6 py-3 text-gray-600 hover:bg-gray-200">
                    <i class="fas fa-user w-5"></i>
                    <span class="ml-3">Profile</span>
                </a>
                <a href="{% url 'hybrid_office_admin_employee_management' %}"
                    class="flex items-center px-6 py-3 text-gray-600 hover:bg-gray-200">
                    <i class="fas fa-users w-5"></i>
                    <span class="ml-3">Employee Management</span>
                </a>
                <a href="{% url 'hybrid_office_admin_leave_approval' %}"
                    class="flex items-center px-6 py-3 text-gray-600 hover:bg-gray-200">
                    <i class="fas fa-calendar-check w-5"></i>
                    <span class="ml-3">Leave Approvals</span>
                </a>
                <a href="{% url 'hybrid_office_admin_leave_management' %}"
                    class="flex items-center px-6 py-3 text-custom hover:bg-gray-200">
                    <i class="fas fa-calendar-check w-5"></i>
                    <span class="ml-3">Leave Management</span>
                </a>
                <a href="{% url 'hybrid_office_admin_my_payroll' %}"
                    class="flex items-center px-6 py-3 text-gray-600 hover:bg-gray-200">
                    <i class="fas fa-calendar-check w-5"></i>
                    <span class="ml-3">My Payroll</span>
                </a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="w-full hover:bg-gray-200 text-left">
                        <div class="flex items-center px-6 py-3 text-gray-600 w-full">
                            <i class="fas fa-sign-out-alt w-5 text-gray-600"></i>
                            <span class="ml-3">Log Out</span>
                        </div>
                    </button>
                </form>
            </nav>
        </aside>
        <main class="flex-1">
            <header class="bg-white border-b border-gray-300">
                <div class="flex items-center justify-end px-6 h-16"></div>
            </header>
            <div class="p-6">
                <h1 class="text-2xl font-bold mb-6">Request Leave</h1>
                <div class="grid grid-cols-4 gap-6 mb-6">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <div class="flex items-center">
                            <div class="p-3 bg-green-500 bg-opacity-20 rounded-lg">
                                <i class="fas fa-calendar-check text-green-500"></i>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-2xl font-semibold">{{ total_leaves }}</h4>
                                <p class="text-gray-600">Total Leave Days</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <div class="flex items-center">
                            <div class="p-3 bg-blue-500 bg-opacity-20 rounded-lg">
                                <i class="fas fa-clock text-blue-500"></i>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-2xl font-semibold">{{ leaves_taken }}</h4>
                                <p class="text-gray-600">Leaves Taken</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <div class="flex items-center">
                            <div class="p-3 bg-yellow-500 bg-opacity-20 rounded-lg">
                                <i class="fas fa-hourglass-half text-yellow-500"></i>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-2xl font-semibold">{{ pending_requests }}</h4>
                                <p class="text-gray-600">Pending Requests</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <div class="flex items-center">
                            <div class="p-3 bg-purple-500 bg-opacity-20 rounded-lg">
                                <i class="fas fa-calendar text-purple-500"></i>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-2xl font-semibold">{{ leave_left }}</h4>
                                <p class="text-gray-600">Remaining Leaves</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-6">
                    <div class="col-span-3">
                        <div class="bg-gray-100 p-6 rounded-lg mb-6">
                            <form id="leaveForm" class="space-y-6" action="{% url 'hybrid_office_admin_request_leave' %}" method="POST"
                                autocomplete="off">
                                {% csrf_token %}
                                <div class="grid grid-cols-3 gap-6">
                                    <div class="space-y-2"><label class="block text-sm font-medium text-gray-600">Leave
                                            Type <span class="text-red-500">*</span></label>
                                        <select id="leaveType" name="leaveType"
                                            class="w-full bg-gray-300 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-custom">
                                            <option>Annual Leave</option>
                                            <option>Sick Leave</option>
                                            <option>Personal Leave</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="space-y-2">
                                        <label class="block text-sm font-medium text-gray-600">Start
                                            Date <span class="text-red-500">*</span></label>
                                        <input type="date" id="startDate" name="startDate"
                                            class="w-full bg-gray-300 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-custom" />
                                        <p id="startDateWarning" class="text-red-500 text-sm hidden"></p>
                                    </div>
                                    <div class="space-y-2">
                                        <label class="block text-sm font-medium text-gray-600">End
                                            Date <span class="text-red-500">*</span></label>
                                        <input type="date" id="endDate" name="endDate"
                                            class="w-full bg-gray-300 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-custom" />
                                        <p id="endDateWarning" class="text-red-500 text-sm hidden"></p>
                                    </div>
                                </div>
                                <div class="space-y-2">
                                    <label class="block text-sm font-medium text-gray-600">Reason
                                        <span class="text-red-500">*</span></label>
                                    <textarea rows="4" id="reason" name="reason"
                                        class="w-full bg-gray-300 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-custom"></textarea>
                                    <p id="reasonWarning" class="text-red-500 text-sm hidden"></p>
                                </div>
                                <div class="flex justify-end space-x-4">
                                    <button type="button"
                                        class="px-4 py-2 bg-gray-300 text-gray-900 hover:text-white rounded-lg hover:bg-gray-600 active:transform active:scale-95 transition-transform"
                                        onclick="history.back()">Cancel</button>
                                    <button type="submit" id="submitBtn"
                                        class="px-4 py-2 bg-custom text-white rounded-lg hover:bg-blue-800 transition duration-200 ease-in-out active:transform active:scale-95">Submit
                                        Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function resetForm() {
                document.forms[0].reset();
                sessionStorage.clear(); // Remove stored input values
            }

            window.addEventListener("pageshow", function (event) {
                if (event.persisted || window.performance && window.performance.navigation.type === 2) {
                    location.reload(); // Forces a fresh reload when navigating back
                    document.forms[0].reset(); // Reset the form completely
                    localStorage.removeItem("form_data"); // Remove cached form data
                }
            });

            function validateRestrictedInput(
                inputElement,
                warningElement,
                allowedPattern,
                minLength,
                warningMessage,
                invalidCharMessage
            ) {
                inputElement.addEventListener("input", function () {
                    let value = inputElement.value;

                    // Remove disallowed characters in real-time
                    let cleanedValue = value.replace(
                        new RegExp(`[^${allowedPattern}]`, "g"),
                        ""
                    );

                    // Show a warning if invalid characters were removed
                    if (value !== cleanedValue) {
                        warningElement.textContent = invalidCharMessage;
                        warningElement.classList.remove("hidden");
                    } else if (cleanedValue.length < minLength) {
                        warningElement.textContent = warningMessage;
                        warningElement.classList.remove("hidden");
                    } else {
                        warningElement.classList.add("hidden");
                    }

                    // Update the field with cleaned value
                    inputElement.value = cleanedValue;
                });
            }

            validateRestrictedInput(
                document.getElementById("reason"),
                document.getElementById("reasonWarning"),
                "a-zA-Z0-9\\s.,-",
                5,
                "Reason must be at least 5 characters long!",
            );

            // Common date references
            const today = new Date();
            today.setHours(0, 0, 0, 0); // Midnight today

            const startDateField = document.getElementById("startDate");
            const endDateField = document.getElementById("endDate");

            // Create warning elements
            const startWarning = document.getElementById("startDateWarning");
            startWarning.classList.add("text-red-500", "text-sm", "hidden");

            const endWarning = document.getElementById("endDateWarning");
            endWarning.classList.add("text-red-500", "text-sm", "hidden");

            // Date validation function
            function validateLeaveDates() {
                const startDateValue = startDateField.value;
                const endDateValue = endDateField.value;

                // Convert to Date objects safely
                const start = startDateValue ? new Date(startDateValue) : null;
                const end = endDateValue ? new Date(endDateValue) : null;

                let isValid = true;

                // Reset warnings
                startWarning.classList.add("hidden");
                endWarning.classList.add("hidden");

                if (start) {
                    if (start < today) {
                        startWarning.textContent = "Start date cannot be in the past.";
                        startWarning.classList.remove("hidden");
                        isValid = false;
                    }
                }

                if (end) {
                    if (end < today) {
                        endWarning.textContent = "End date cannot be in the past.";
                        endWarning.classList.remove("hidden");
                        isValid = false;
                    } else if (start && end < start) {
                        endWarning.textContent = "End date cannot be before start date.";
                        endWarning.classList.remove("hidden");
                        isValid = false;
                    }
                }

                return isValid;
            }
            // Attach event listeners to trigger validation on input change
            startDateField.addEventListener("input", validateLeaveDates);
            endDateField.addEventListener("input", validateLeaveDates);

        });
        document.getElementById("leaveForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent default form submission

            const form = event.target;
            const formData = new FormData(form);

            fetch("{% url 'hybrid_office_admin_request_leave' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        localStorage.setItem("leaveRequestStatus", "success");
                    } else {
                        localStorage.setItem("leaveRequestStatus", "error");
                    }

                    // ✅ Redirect to leave management page manually
                    window.location.href = "{% url 'hybrid_office_admin_leave_management' %}";
                })
                .catch(error => {
                    console.error("Error submitting leave:", error);
                    localStorage.setItem("leaveRequestStatus", "error");

                    // ✅ Redirect anyway
                    window.location.href = "{% url 'hybrid_office_admin_leave_management' %}";
                });
        });
    </script>

</body>